version: 1.3.0.{build}

assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "{version}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{appveyor_repo_branch}"

configuration: Release

install:
  - ps: .\scripts\install.ps1

before_build:
  - nuget restore source\IdentityServer.v3.MongoDb.Admin.sln

build_script:
  - "C:\Program Files (x86)\MSBuild\14.0\bin\msbuild.exe" "Source\IdentityServer.v3.MongoDb.Admin.sln" /verbosity:normal /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

after_test: 
  - ps: .\scripts\packagenuget.ps1

artifacts: 
  - path: '*.nupkg'

deploy:
  provider: NuGet
  on:
    appveyor_repo_tag: true
  api_key: 
    secure: k1FLU1hRZEYRxDnZ8wS99CqjVgzr2nVFLnwhpYZ0ChTSDEJ5L5yJT7DgErg7vlG/
  artifact: /.*\.nupkg/